body {
    background-color: rgb(48, 48, 48);
    font-size: 1.2rem;
}

/** Modal */
.modal-background {
    display: block;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: rgb(86, 92, 100);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-disabled {
    visibility: hidden;
}

/** Context Menu */

.context-menu-background {
    display: block;
    position: fixed;
    z-index: 1;
    background-color: rgb(86, 92, 100);
    /** animation */
    scale: 1;
    opacity: 1;
    translate: 0 0;
    transition: visibility 0s, opacity 0.05s linear, scale 0.05s linear, translate 0.05s linear;
}

.context-menu-list {
    list-style-type: none;
}

.context-menu-element {
    margin: 0;
    padding: 10px;
    min-width: 110px;
    cursor: pointer;
    /** animation */
    transition: all 0.2s;
    background-color: rgba(255, 255, 255, 0);
}

.context-menu-element:hover {
    /** animation */
    transition: all 0.2s;
    background-color: rgba(255, 255, 255, 0.2);
}

.context-menu-disabled {
    visibility: hidden;
    /** animation */
    opacity: 0;
    scale: 0.7;
    translate: -30% -30%;
    transition: all 0.1s linear, opacity 0.1s ease-out;
}

/** Hosts */
.host-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.host-background {
    cursor: pointer;
    margin: 0.2cm;
    padding-top: 0.1cm;
    padding-bottom: 0.5cm;
    padding-left: 0.4cm;
    padding-right: 0.4cm;
}

.host-background:hover {
    transition: all 0.2s;
    background-color: rgba(255, 255, 255, 0.2);
}

.host-image {
    width: 6cm;
    height: auto;
}

.host-name {
    margin: 0;
    font-size: 1.2cm;
    text-align: center;
}